# Created by .ignore support plugin (hsz.mobi)
Core.Test/bin/
Core.Test/obj/
Core/Logs/
Core/bin/
Core/obj

#Settings
Core.Test/appsettings.json
Core/appsettings.json

.idea/.idea.PlotoiadnuiBot/.idea/workspace.xml

